@import url(stylesheets/pageFooter.css);
@import url(stylesheets/pageHeader.css);
@import url(stylesheets/pageContent.css);

*{
  margin: 0px;
  padding: 0px;
}

body{
  width: 100vw;
  box-sizing: border-box;
}


