body > footer{
  height: 15vh;
  background-color: rgb(35, 35, 35);
  padding: 2em;
  color:rgb(192, 190, 190);
}

body > footer:nth-child{
  display: inline-block;
}

address{
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-content: space-around;
}

body > footer section:nth-child(1){
  border-right: 2px solid rgb(238, 237, 237);
}

body > footer section{
  padding: 0.2em 2em;
  margin-bottom: 1.5em;
}

body > footer > p{
  border-top: 2px solid rgb(120, 116, 116);
  padding: 1em 0em;
  width: 60%;
  margin: auto;
  text-align: center;
}