body > header{
  height: 22vh;
}

nav{
  display: flex;
  height: 25%;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(218, 216, 216);
  border-bottom: 1px solid black;
}

nav a{
  text-decoration: none;
  font-size: 24px;
  color: rgb(0, 0, 0);
}

hgroup h1{
  color: rgb(205, 205, 205);
  font-size: 50px;
}
hgroup h2{
  color: rgb(88, 107, 81);
}

hgroup{
  display: flex;
  height: 75%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(8, 8, 8);
  border:2px solid rgb(30, 30, 30)
}