body > footer{
  border-top: 2px solid rgb(198, 198, 198);
  height: 15vh;
  background-color: rgb(30, 30, 30);
  padding: 2em;
  color:rgb(191, 187, 187);
}

body > footer:nth-child{
  display: inline-block;
}

address{
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-content: space-around;
}

body > footer section:nth-child(1){
  border-right: 2px solid rgb(0, 0, 0);
}

body > footer section{
  padding: 0.2em 2em;
  margin-bottom: 1.5em;
}

body > footer > p{
  border-top: 2px solid rgb(233, 231, 231);
  padding: 1em 0em;
  margin: auto;
  text-align: center;
}