body > header{
  height: 25vh;
  margin-bottom: 1vh;
  background-color: rgb(176, 182, 180);
}

nav{
  height: 25%;
  display: flex;
  width: 60%;
  margin: auto;
  justify-content: space-around;
}

nav a{
  text-align: center;
  text-decoration: none;
  font-size: 24px;
  padding: 15px 35px;
  color: rgb(0, 0, 0);
}

hgroup h1{
  color: rgb(250, 250, 250);
  font-size: 50px;
  text-shadow: 2px 2px 2px 2px rgb(255, 255, 255);
}
hgroup h2{
  color: rgb(201, 210, 198);
}

hgroup{
  display: flex;
  height: 80%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(51, 51, 51);
  border:2px solid rgb(165, 164, 164)
}